* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.img {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.img1 {
  background-image: url(/Project3/images/image1.png);
  min-height: 100%;
}
.img2 {
  background-image: url(/Project3/images/image2.png);
  min-height: 400px;
}
.img3 {
  background-image: url(/Project3/images/image3.png);
  min-height: 400px;
}

.text {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.text-bg1 {
  padding: 20px;
  background-color: rgb(50, 49, 49);
  color: aliceblue;
}
.text-bg2 {
  padding: 20px;
  color: rgb(50, 49, 49);
  background-color: aliceblue;
}
.text-bg3 {
  padding: 20px;
  background-color: rgb(50, 49, 49);
  color: aliceblue;
}
.content {
  padding: 50px 80px;
  text-align: center;
}
.content1 {
  background-color: aliceblue;
  color: rgb(50, 49, 49);
}
.content2 {
  color: aliceblue;
  background-color: rgb(50, 49, 49);
}
